<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <q-page>
    <q-tabs
      v-model="tab"
      dense
      class="text-grey"
      active-color="primary"
      indicator-color="primary"
      align="justify"
      narrow-indicator
    >
      <q-tab name="Search" label="Search"/>
      <q-tab name="Favourites" label="Favourites"/>
    </q-tabs>

    <q-separator />

    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="Search">
          <form @submit.prevent="searchMovies(currentSearch)" class="q-pa-md">
            <!-- a simple text field watching for the enter key release -->
            <label>Search for movie by title</label>
            <q-input
              filled
              color="teal"
              hint="Type then hit Enter key above"
              v-model="currentSearch"
            />

            <!--
              A button with v-model set to submit.
              v-model scope variable must be a strict Boolean
            -->
            <div class="row justify-left">
              <q-btn
                type="submit"
                :loading="submitting"
                label="Search"
                class="q-mt-md"
                color="teal"
              >
              </q-btn>
            </div>
          </form>
          <div class="q-pa-md row items-start q-gutter-md">
            <div v-if='error === "False"'>
              <div class="text-h2" text-weight-bold>{{errorMessage}}</div>
            </div>
            <div v-for="movie in shownMovies">
              <q-card class="my-card" inline style="width: 500px; height: 900px">
                <div v-if="movie.Poster != 'N/A'">
                  <img :src = movie.Poster contain style="width: 500px; height: 600px">
                </div>
                <div v-else>
                  <img :src = placeholder contain style="max-width: 500px; height: 500px">
                </div>


                <q-card-section>
                  <div class="row q-col-gutter-sm">
                    <div class="text-h6">{{movie.Title}}</div>
                      <div v-if="favourites.includes(movie)">
                        <q-btn class="glossy" round color="deep-orange" icon="local_activity" @click="unfavourite(movie)" />
                      </div>
                      <div v-else>
                        <q-btn class="glossy" round color="black" icon="local_activity" @click="favourite(movie)"/>
                      </div>
                  </div>
                  <div>
                  </div>
                  <div class="text-subtitle2">Type: {{movie.Type}}</div>
                  <div class="text-subtitle2">Year of release: {{movie.Year}}</div>
                  <div class="text-subtitle2">Director: {{movie.Director}}</div>
                  <div class="text-subtitle2">Actors : {{movie.Actors}}</div>
                  <div class="text-subtitle2">Plot : {{movie.Plot}}</div>
                </q-card-section>
              </q-card>
            </div>
          </div>
        <div v-if = "search != ''">
          <q-pagination size="lg" v-model="pageNumber" :min=minPagination :max=maxPagination :boundary-links="true" :direction-links="true" :per-page="10" @click="changeMovieIndex()"></q-pagination>
        </div>
      </q-tab-panel>
      <q-tab-panel name="Favourites">
        <div>
          <q-table
            title="Favourite Movies"
            :data="favourites"
            :columns="columns"
            row-key="name"
          ></q-table>
        </div>
      </q-tab-panel>
    </q-tab-panels>
  </q-page>


</template>

<script>
import QUploaderBase from 'quasar/src/components/uploader/QUploaderBase';
import axios from 'axios'
export default {
  data () {
    return {
      placeholder: "https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png",
      pageNumber: 1,
      minPagination: 1,
      maxPagination: 10,
      totalResults: 0,
      errorMessage: "",
      error: "",
      name: 'PageIndex',
      search: "",
      currentSearch: "",
      movieNames: [],
      test: '',
      tab: 'Search',
      submitting: false,
      shownMovies: [],
      favourites: [],
      columns: [
        {
          name: 'Title',
          required: true,
          label: 'Title',
          align: 'left',
          field: row => row.Title,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'Type', align: 'center', label: 'Type', field: 'Type', sortable: true },
        { name: 'Year', align: 'center', label: 'Year', field: 'Year', sortable: true },
        { name: 'Director', label: 'Director', field: 'Director', sortable: true },
      ],
    }
  },
  components: { QUploaderBase },

  methods: {

    unfavourite: function (movie) {
      let index = this.favourites.indexOf(movie)
      this.$delete(this.favourites, index);
    },

    favourite: function (movie) {
      this.favourites.push(movie);
    },

    changeMovieIndex: function() {
      if (this.pageNumber >= this.maxPagination) {
        this.minPagination += 10;
        this.maxPagination += 10;
      } else if ((this.pageNumber === this.minPagination) && this.pageNumber > 1) {
        this.minPagination -= 10;
        this.maxPagination -= 10;
      }
      if (this.maxPagination > this.totalResults) {
        this.minPagination = this.totalResults  - 10
        this.maxPagination = this.totalResults;
      }

      this.searchMovies(this.currentSearch)
    },

    searchMovies: function (search) {
      if (this.search !== search) {
        this.pageNumber = 1;
      }
      this.search = search;
      this.shownMovies = [];
      this.movieNames = [];
      let url = 'http://www.omdbapi.com/?s=' + search + '&apikey=32cd7c76&page=' + this.pageNumber + '&Content-Type=application/json';
      axios.get(url)
        .then(response => {
          if (response.data.Response === "False") {
            this.error = response.data.Response;
            this.errorMessage = response.data.Error;
          } else {
            this.totalResults = parseInt((response.data.totalResults / 10) + 1);
            this.error = "";
            this.errorMessage = "";
            this.movieNames = response.data.Search;
            for (let singleMovie of this.movieNames) {
              let newurl = 'http://www.omdbapi.com/?t=' + singleMovie.Title + '&apikey=32cd7c76&page=' + this.pageNumber + '&Content-Type=application/json';
              axios.get(newurl)
                .then(response => {
                  this.shownMovies.push(response.data);
                }).catch(error => {
                console.log(error);
                this.error = error;
              });
            }
          }
        }).catch(error => {
          console.log(error);
          this.error = error;
        });
    },
  }
}


</script>
